@use '/src/styles/style.scss' as *;


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-light-grey;
    position: relative;
}
.container {
    width: 80%;
    height: 600px;
    top: 277px;
    position: relative;
    background-color: $color-white;
    border: 1px solid $color-white;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 $color-shadow;
}
.tabs {
    display: flex;
    position: relative;
}
.selectedTab {
    background-color: $color-white !important;
    border: none;
    border-left: 1px solid $color-blue
}
.tab {
    width: 302px;
    height: 40px;
    background-color: $color-light-grey;
    margin: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;
    font-weight: 500;
    outline: none;
}
.tabList {
    width: 302px;
    height: 216px;
    padding: 25px;
    position: absolute;
    top: 73px;
}
.tabPanel {
    width: 734px;
    height: 444px;
    padding: 12px 16px;
    top: 105px;
    gap: 8px;
    right: 0px;
    position: absolute;
    font-size: 13px;
}

.title {
    top: 210px;
    position: relative;
    
    h1 {
        font-size: 56px;
    }
    p {
        padding-top: 16px;
    }
}