@use 'styles/style.scss' as *;

.container {
  display: flex;
  margin-top: 40px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    max-width: none !important;
  }

  .content {
    width: 100% !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 100% !important;
    padding: 0 !important;
  }
}

.sidebar {
  background-color: $color-light-grey;
  min-width: 240px;
  max-width: 240px;
  border-radius: 0 0 0 16px;
  position: relative;
  z-index: 100;
}

.list {
  max-height: 264px;
  overflow-y: scroll;
  direction: ltr;
  background-color: $color-laros-light-grey;
  padding-top: 40px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.description {
  padding: 70px 16px 0;
  font-weight: $fw-medium;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.select {
  margin-bottom: 32px;
}

.select,
.more {
  cursor: pointer;
  line-height: 14px;
  font-weight: $fw-semibold;
  color: $color-placeholder;
  font-size: 12px;
}

.title {
  margin-bottom: 12px;
  font-size: 32px;
  white-space: normal;
  overflow-wrap: break-word;
  font-weight: $fw-semibold;
}

.text {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  overflow-y: scroll;
  font-weight: $fw-regular;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 240px);
  padding-left: 38px;
  padding-top: 40px;
}
