@use 'styles/style.scss' as *;

.react-calendar {
  position: absolute;
  z-index: 10;
}

.inputCalendar {
  max-width: 371px;
  position: relative;
  width: 100%;
  height: 33px;
  border: 2px solid $color-modal-header;
  border-radius: 8px;
  z-index: 1;
}
.shorten {
  height: 33px;
  display: flex;
  justify-content: start;
  align-items: center;
  & .icon {
    bottom: 6px;
  }
}

.gridWrapper {
  display: flex;
  flex-wrap: nowrap;
}

// Columns
// 1-st
.calendarIcon {
  transform: scale(1.4);
  padding: 0 8px 8px 8px;
}

// 2-st
.label {
  padding: 7px 8px 8px 8px;
  font-family: Lato;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-placeholder;
  min-width: 110px;
}
// 3-st
.textDate {
  padding: 5px 8px 8px 8px;
  width: 80%;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
}
// 4-st
.pencilIcon {
  cursor: pointer;
  transform: scale(1.4);
  margin-right: 8px;
  margin-left: auto;
}
