@use 'styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.card {
  height: 180px;
  width: 47%;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: $color-modal-bg;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
  }
  &:hover .title {
    display: none;
  }
  @media (max-width: 390px) {
    div {
      font-size: 16px;
    }
    height: 140px;
  }
}

.vertical {
  height: 640px;
  width: 100%;
  .description {
    width: 70%;
    height: 55%;
  }
  .name {
    margin-bottom: 55px;
  }
  @include mobile-tablet {
    height: 300px;
  }
  @media (max-width: 390px) {
    div {
      font-size: 22px;
    }
  }
}
.content {
  width: 100%;
  height: 100%;
  background-color: $color-bg-gallery-2;
  font-family: $font-Century-Gothic;
  font-size: 22px;
  font-weight: $fw-semibold;
  line-height: 26px;
  text-align: center;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: none;
}
.description {
  width: 80%;
  height: 40%;
  overflow: hidden;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 17px;
  text-align: left;
  overflow-y: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(201, 46, 46, 0);
  }

  &::-webkit-scrollbar-thumb {
    height: 2px;
    background-color: $color-white;
    border-radius: 20px;
  }
}
.name {
  margin-bottom: 16px;
  padding: 0 20px;
  font-size: 22px;
  font-weight: $fw-medium;
  line-height: 26px;
  text-align: center;
}
