@use '/src/styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.wrapper {
  max-width: 1320px;
  margin: 80px auto;

  @include mobile-tablet {
    padding: 0 15px;
    margin: 20px auto;
  }
}

.text {
  text-align: center;
  margin: 0 0 51px 0;

  @include mobile-tablet {
    margin-bottom: 20px;
  }
}

.title {
  margin: 0 0 40px 0;

  @include tablet {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @include mobile {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.desc {
  font-weight: $fw-regular;
  max-width: 850px;
  font-size: 12px;
  margin: 0 auto;
  line-height: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  justify-content: center;

  @media (max-width: 560px) {
    flex-direction: column;
    align-items: center;
  }
}
