@use '/src/styles/style.scss' as *;

.faqcontent {
  background-color: #fff;
  max-width: 1062px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 160px;

  & > h1 {
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 80px;
  }
}
