@use 'styles/style.scss' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: none;
  padding: 0 24px;
  font-family: Lato;
  font-size: 14px;
  font-weight: $fw-light;
}

.primary {
  background-color: $color-primary;
  color: $color-white;

  // &:hover, //TODO add hover
  // &:active {
  //   border-color: lighten($color-red, 15);
  //   background-color: lighten($color-red, 15);
  // }
}

.secondary {
  background-color: $color-secondary;
  color: $color-white;
}
.outline {
  background-color: $color-white;
  color: $color-black;

  // &:hover {
  //   background-color: transparentize($color-metallic-seaweed, 0.7);
  // }
}
