@use '/src/styles/style' as *;
@import '/src/styles/theme/breakpoints.scss';

.wrapper {
  padding-top: 160px;
  background-image: url('../../../public/assets/images/blogs/header-bg.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $color-white;
  color: $color-bg-black;

  @include tablet {
    padding-top: 100px;
  }

  @include mobile {
    padding-top: 0;
    background-image: unset;
  }
}

.main {
  width: 89%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 60, 118, 0.15);

  @include tablet {
    width: 95%;
  }

  @include mobile {
    width: 100%;
    padding: 0 10px 10px;
  }
}

.header {
  padding: 4px 0 4px 42px;
  width: 100%;
  background-color: $color-laros-light-grey;
  border-radius: 16px 16px 0 0;

  @include mobile {
    background-color: unset;
    padding-left: 0;
  }
}

.button {
  padding-left: 0;
  background-color: transparent;
}

.button div {
  margin-left: 9px;
}

.contentWrapper {
  padding: 0 67px 106px 109px;

  @include mobile {
    padding: 0;
  }

  [class*='blog'] {
    width: 100%;
    max-width: unset;
  }

  [class*='content'] {
    margin-right: 80px;
    @include mobile {
      width: 100%;
      margin: 0 auto;
    }

    @include laptop {
      width: 60%;
    }

    @include mobile-tablet {
      margin-right: 40px;
    }
  }

  @include tablet {
    padding: 0 30px;
  }

  @include laptop {
    padding: 0 5% 106px 8%;
  }
}

.mainContent {
  padding: 97px 47px 0 0;

  @include mobile {
    padding: 0 0 30px;
  }

  @include tablet {
    padding: 20px 0 30px;
  }

  @include laptop {
    padding: 0;
  }
}

.subSubTitle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 34px;
  font-weight: $fw-regular;
  color: $color-bg-black;
}

.textContent {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
  color: $color-bg-black;
  white-space: normal;
}

.textContent:last-child {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px;
  padding-top: 97px;
  max-width: 1070px;

  .mainPhoto {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
  }

  .subPhotos {
    display: flex;
    justify-content: center;

    div:not(:last-child) {
      margin-right: 16px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 13px;
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  @include mobile-tablet {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

.gallery span {
  border-radius: 8px;
}

.sliderContainer {
  width: 60%;
  padding-top: 49px;
  margin: 0 auto 34px;

  @include mobile {
    width: 90%;
  }

  @media (min-width: 640px) {
    width: 85%;
  }
}

.sliderTitle {
  text-align: center;
  margin-bottom: 92px;
  font-size: 16px;
  line-height: 20px;

  @include mobile {
    margin-bottom: 30px;
  }
}

.article {
  max-width: 486px;
  text-align: start;
  margin-bottom: 50px;
  margin-right: 0;
  color: $color-bg-black;
}

.articleTitle {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
  font-weight: $fw-regular;
}

.articleText {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
}

.articleData {
  font-size: 14px;
  line-height: 24px;
  color: $color-laros-dark-grey;
}

.sliderCustom > div > div > div:nth-child(odd) {
  margin-right: 28px;
}

.sliderCustom {
  max-width: 1028px;
  margin: 0 auto;

  [class*='swiper-button-prev'] {
    top: 42%;
    left: -8%;
  }

  [class*='swiper-button-next'] {
    top: 42%;
    right: -8%;
  }
}

.noPost {
  text-align: center;
  padding: 100px;
}

.contact {
  margin-bottom: 29px;
}

@include mobile-tablet {
  .sliderCustom {
    [class*='swiper-button-prev'] {
      left: -40px;
    }

    [class*='swiper-button-next'] {
      right: -40px;
    }
  }
}
