@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  overflow: hidden;
  background: url('../../../../public/assets/images/destinations/Individual maps/Ionische Inseln.png'),
    no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}

.skiathos {
  display: block;

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.skiathosLocation {
  position: absolute;
  top: 38%;
  right: 36%;
  border-radius: 24px;
  padding: 4px;
}

.alonissos {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.alonissosLocation {
  position: absolute;
  top: 39%;
  right: 24%;
  border-radius: 24px;
  padding: 0 4px;
}

.skopelos {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.skopelosLocation {
  position: absolute;
  top: 44%;
  right: 31%;
  border-radius: 24px;
  padding: 4px;
}

.skyros {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.skyrosLocation {
  position: absolute;
  top: 51%;
  right: 15%;
  border-radius: 24px;
  padding: 0 4px;
}

.regionCardskiathos {
  top: 20%;
  bottom: auto;
}

.regionCardskyros {
  bottom: 100%;
  left: -250px;
}

.regionCardalonissos {
  top: 20%;
  bottom: auto;
  left: -250px;
}