@use 'styles/style.scss' as *;

.container {
  background-color: $color-modal-header;
  padding: 80px 20px;
}
.wrapper {
  max-width: 1160px;
  margin: auto;
}

.title {
  font-family: $font-Century-Gothic;
  font-weight: $fw-bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.hotels {
  margin: 36px 0 50px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 25px;

  @media (max-width: 1150px) {
    grid-template-columns: 40% 40%;
    justify-content: center;
  }

  @include mobile-tablet {
    grid-template-columns: 50% 50%;
    padding: 0 20px;
  }

  @include mobile {
    grid-template-columns: 370px;
    max-width: 410px;
    margin: auto;
    justify-content: start;
  }

  @media (max-width: 450px) {
    grid-template-columns: 100%;
    padding: 0;
  }
}

.loading {
  padding: 50px 0 0;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
}
