@use 'styles/style.scss' as *;
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.content {
  position: absolute;
  top: 286px;
  left: 171px;
  z-index: 3;
}
.title {
  color: $color-white;
  font-size: 56px;
  font-weight: $fw-medium;
  line-height: 67px;
  margin-bottom: 16px;
}
.description {
  color: $color-white;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 17px;
}
.actions {
  display: flex;
}
.flightBtn,
.packageBtn {
  font-weight: $fw-semibold;
  line-height: 20px;
}
.flightBtn {
  width: 150px;
  margin-right: 16px;
  background-color: $color-orange;
}
.packageBtn {
  width: 170px;
  background-color: $color-blue;
}
