@use '/src/styles/style.scss' as *;

.cart_shown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 100%;
  bottom: 100%;
  width: 260px;
  padding: 8px;
  background-color: $color-white;
  box-shadow: 0 12px 12px rgba(0, 60, 118, 0.15);
  border-radius: 8px;
  z-index: 3;
  pointer-events: all;
}

.cart_picture {
  display: flex;
  justify-content: center;
}

.cart_info {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart_title {
  font-weight: $fw-bold;
  font-size: 16px;
  line-height: 20px;
  color: $color-bg-black;
}

.description {
  display: -webkit-box;
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 20px;
  height: 100%;
  max-height: 60px;
  color: $color-bg-black;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionTooltip {
  max-height: 100px;
}

.link__blockDestinationMap {
  display: flex;
  justify-content: center;
  font-weight: $fw-regular;
  font-size: 12px;
  line-height: 20px;
  color: #1b242d;
}

.link__detailCartMap {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 36px;
  background-color: $color-laros-light-grey;
  border-radius: 8px;
}

.image {
  width: 100%;
  object-fit: cover;
  max-width: 240px;
  height: auto;
  max-height: 135px;
  border-radius: 8px;
}