@use '/src/styles/style.scss' as *;

.brochuresPage {
  padding: 0 80px;

  @include mobile-tablet {
    padding: 0;
  }
}

.wrapper {
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 $color-shadow;
  padding: 80px 65px 0;
  max-width: 1394px;
  margin: 100px auto 80px;

  @include laptop {
    padding: 80px 20px 0;
  }

  @include mobile-laptop {
    padding: 0 65px 0;
  }

  @include mobile-tablet {
    padding: 0 20px 0;
    margin: 50px 0;
  }

  @include mobile {
    padding: 0 10px 0;
    margin: 20px 0;
  }
}

.title {
  font-size: 56px;
  font-weight: $fw-bold;
  margin-bottom: 16px;
  padding-left: 4%;

  @include mobile {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    text-align: center;
  }
}

.subtitle {
  width: 766px;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 20px;
  padding-left: 4%;

  @include mobile-laptop {
    width: 70%;
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    text-align: center;
    width: 90%;
    margin: 0 auto 20px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include mobile-laptop {
    display: block;
  }
}

.noSelectBtn {
  border-radius: 8px;
  min-width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: $fw-regular;
  color: $color-placeholder;
  border: 1px solid $color-laros-light-grey;

  @include mobile {
    max-width: 0;
    min-width: 0;
  }

  @include laptop {
    max-width: 350px;
    min-width: 0;
  }

  @include mobile-tablet {
    max-width: 350px;
    min-width: 0;
  }
}

.selectBtn {
  // width: 250px;
}

.sort {
  font-size: 20px;
  font-weight: $fw-bold;
  width: 92%;
  margin: 0 auto 24px;

  @media (max-width: 1400px) {
    text-align: center;
  }
}

.brochuresList {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1250px;
  margin: 12px auto;
  justify-content: center;

  @include mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media (max-width: 1400px) {
    grid-template-columns: auto auto;
    justify-content: center;
    width: auto;
  }

  & div:not(:last-child) {
    margin-right: 24px;

    @include mobile {
      margin-right: 0;
    }
  }
}
