@use 'styles/style.scss' as *;

.content {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 25px;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 85px;
  z-index: 2;
  border-radius: 0 0 16px 16px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.1);
  background: $color-white;

  @include mobile {
    padding: 10px;
  }
}

.saveButton {
  border-radius: 8px;
  padding: 13px 24px;
  font-size: 12px;
  background: $color-primary;
  display: inline-block;
  color: $color-white;
  margin-right: 8px;
  cursor: pointer;

  @include mobile {
    padding: 10px;
  }
}

.cancelButton {
  border-radius: 8px;
  padding: 13px 24px;
  border: 1px solid $color-modal-header;
  background: $color-white;
  font-size: 12px;
  cursor: pointer;

  @include mobile {
    padding: 10px;
  }
}

.title {
  font-weight: $fw-bold;
  font-size: 20px;
  margin-bottom: 25px;
}

.description {
  font-size: 12px;
  margin-bottom: 50px;
  line-height: 20px;
}

.slider {
  width: 100%;
  height: 320px;
  position: relative;
  margin-bottom: 30px;
}

.bottom {
  padding-left: 85px;
  display: flex;
  flex-direction: row;
  padding-right: 45px;

  .left {
    margin-right: 30px;
  }

  @include mobile-tablet {
    flex-direction: column;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.highlights {
  font-weight: $fw-semibold;
  font-size: 12px;
  padding-left: 16px;
}

.photos {
  padding-top: 30px;
}

.photosTitle {
  font-weight: $fw-bold;
  font-size: 12px;
  margin-bottom: 25px;
}

.photosSwiper {
  margin-bottom: 20px;
}

.photosSlider {
  width: 580px;

  @include mobile-tablet {
    width: 100%;
  }
}

.photosSliderItem {
  width: 573px;
  height: 333px;
  border-radius: 8px;
  margin-right: 10px;
  background: $color-laros-dark-grey;

  @include mobile-tablet {
    width: 100%;
  }
}

.photosSliderCustomPagination {
  display: flex;
  justify-content: center;
}

.bannerSliderSwiper {
  height: 100%;
  padding-bottom: 0 !important;

  [class*='swiper-pagination-bullet-active'] {
    background: $color-primary-black;
  }
}

.bannerSwiperPagination {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 85px;
  padding-bottom: 30px;
}

.bannerSliderSlide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background: $color-laros-dark-grey;
}
