@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Kykladen Inseln.png')
    no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}
.kea {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.keaLocation {
  position: absolute;
  top: 34%;
  right: 51%;
  border-radius: 24px;
  padding: 0 4px;
}

.andros {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.androsLocation {
  position: absolute;
  top: 27%;
  right: 39%;
  border-radius: 24px;
  padding: 0 4px;
}

.tinos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.tinosLocation {
  position: absolute;
  top: 36%;
  right: 36%;
  border-radius: 24px;
  padding: 0 4px;
}

.mykonos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.mykonosLocation {
  position: absolute;
  top: 40%;
  right: 26%;
  border-radius: 24px;
  padding: 0 4px;
}

.serifos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.serifosLocation {
  position: absolute;
  top: 52%;
  right: 47%;
  border-radius: 24px;
  padding: 0 4px;
}

.antiparos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.antiparosLocation {
  position: absolute;
  top: 60%;
  right: 65%;
  border-radius: 24px;
  padding: 0 4px;
}

.naxos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.naxosLocation {
  position: absolute;
  top: 50%;
  right: 28%;
  border-radius: 24px;
  padding: 0 4px;
}

.amorgos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.amorgosLocation {
  position: absolute;
  top: 60%;
  right: 16%;
  border-radius: 24px;
  padding: 0 4px;
}

.santorini {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.santoriniLocation {
  position: absolute;
  top: 64%;
  right: 22%;
  border-radius: 24px;
  padding: 0 4px;
}

.antiparos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.antiparosLocation {
  position: absolute;
  top: 57%;
  right: 34%;
  border-radius: 24px;
  padding: 0 4px;
}

.anafi {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.anafiLocation {
  position: absolute;
  top: 78%;
  right: 23%;
  border-radius: 24px;
  padding: 0 4px;
}

.kithnos {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kithnosLocation {
  position: absolute;
  top: 44%;
  right: 58%;
  border-radius: 24px;
  padding: 0 4px;
}

.sifnos {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sifnosLocation {
  position: absolute;
  top: 58%;
  right: 54%;
  border-radius: 24px;
  padding: 0 4px;
}

.kimolos {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kimolosLocation {
  position: absolute;
  top: 63%;
  right: 56%;
  border-radius: 24px;
  padding: 0 4px;
}

.milos {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.milosLocation {
  position: absolute;
  top: 67%;
  right: 59%;
  border-radius: 24px;
  padding: 0 4px;
}

.syros {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.syrosLocation {
  position: absolute;
  top: 44%;
  right: 43%;
  border-radius: 24px;
  padding: 4px;
}

.paros {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.parosLocation {
  position: absolute;
  top: 48%;
  right: 36%;
  border-radius: 24px;
  padding: 4px;
}

.koufonissi {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.koufonissiLocation {
  position: absolute;
  top: 57%;
  right: 22%;
  border-radius: 24px;
  padding: 4px;
}

.ios {
  display: block;
  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.iosLocation {
  position: absolute;
  top: 69%;
  right: 40%;
  border-radius: 24px;
  padding: 4px;
}

.folegandros {
  display: block;
  &::before {
    content: '';
    margin-left: auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.folegandrosLocation {
  position: absolute;
  top: 72%;
  right: 50%;
  border-radius: 24px;
  padding: 4px;
}

.ikarita {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ikaritaLocation {
  position: absolute;
  top: 62%;
  right: 40%;
  border-radius: 24px;
  padding: 0 4px;
}

.sikinos {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sikinosLocation {
  position: absolute;
  top: 67%;
  right: 46%;
  border-radius: 24px;
  padding: 0 4px;
}

.regionCardandros {
  top: 20%;
}

.regionCardamorgos {
  bottom: 100%;
  left: -250px;
}

.regionCardtinos {
  top: 20%;
}

.regionCardkea {
  top: 20%;
}

.regionCardmykonos {
  top: 100%;
  left: -250px;
}

.regionCardkoufonissi {
  bottom: 100%;
  left: -250px;
}

.regionCardsantorini {
  bottom: 100%;
  left: -250px;
}

.regionCardanafi {
  bottom: 100%;
  left: -250px;
}
