@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Nordagaische Inseln.png') no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}

.thassos {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.thassosLocation {
  position: absolute;
  top: 15%;
  right: 45%;
  border-radius: 24px;
  padding: 0 4px;
}

.samothrake {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.samothrakeLocation {
  position: absolute;
  top: 22%;
  right: 32%;
  border-radius: 24px;
  padding: 0 4px;
}

.lemnos {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.lemnosLocation {
  position: absolute;
  top: 33%;
  right: 38%;
  border-radius: 24px;
  padding: 0 4px;
}

.lesbos {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.lesbosLocation {
  position: absolute;
  top: 48%;
  right: 25%;
  border-radius: 24px;
  padding: 0 4px;
}

.fourni {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 2px auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.fourniLocation {
  position: absolute;
  top: 80%;
  right: 28%;
  border-radius: 24px;
  padding: 0 4px;
}

.lesbosmytilene {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.lesbosmytileneLocation {
  position: absolute;
  top: 50%;
  right: 19%;
  border-radius: 24px;
  padding: 4px;
}

.chios {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.chiosLocation {
  position: absolute;
  top: 63%;
  right: 31%;
  border-radius: 24px;
  padding: 0 4px;
}

.ikaria {
  display: block;

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ikariaLocation {
  position: absolute;
  top: 75%;
  right: 30%;
  border-radius: 24px;
  padding: 4px;
}

.samos {
  display: block;

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.samosLocation {
  position: absolute;
  top: 74%;
  right: 22%;
  border-radius: 24px;
  padding: 4px;
}

.regionCardlemmos,
.regionCardsamothrake,
.regionCardthassos {
  top: 20%;
  bottom: auto;
}

.regionCardsamos,
.regionCardikaria,
.regionCardlesbos,
.regionCardfourni {
  left: -250px;
}