@use 'styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.roomCards {
  padding: 80px 0;
  background-color: $color-primary-dark-blue;
  color: $color-white;

  @include mobile {
    padding: 40px 0;
  }
}

.roomCardsTitle {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.roomCardsSubTitle {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  text-align: center;
  margin-bottom: 56px;
  padding: 0 20px;
}

.roomCardsWrap {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.roomCardWrap {
  margin: 10px;
}
