@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Euboa.png')
    no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}
.korfu {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.korfuLocation {
  position: absolute;
  top: 16%;
  right: 82%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.kythira {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kythiraLocation {
  position: absolute;
  top: 91%;
  right: 43%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.paxos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.paxosLocation {
  position: absolute;
  top: 28%;
  right: 77%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.lefkada {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.lefkadaLocation {
  position: absolute;
  top: 37%;
  right: 71%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.ithaki {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ithakiLocation {
  position: absolute;
  top: 44%;
  right: 72%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.kefalonia {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kefaloniaLocation {
  position: absolute;
  top: 51%;
  right: 71%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.zakynthos {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.zakynthosLocation {
  position: absolute;
  top: 58%;
  right: 68%;
  background: $color-white;
  border-radius: 24px;
  padding: 0 4px;
}

.regionCardkorfu {
  top: 20%;
}

.regionCardpaxos {
  top: 20%;
}

.regionCardlefkada {
  top: 20%;
}
