@use 'styles/style.scss' as *;

.modal {
  width: 100vw;
  height: 100vh;
  background-color: $color-modal-bg-blue;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  z-index: 1500;

  @include tablet {
    padding: 20px;
  }

  @include mobile {
    padding: 20px;
  }

  @media (max-width: 500px) {
    padding: 0;
  }
}

.active {
  transform: scale(1);
}

.modalContent {
  border-radius: 12px;
  background-color: $color-white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 850px;
  max-height: 90vh;

  @include mobile {
    max-height: 90vh;
  }

  @media (max-width: 500px) {
    max-height: 100vh;
  }
}

.header {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 48px;
  background-color: $color-laros-light-grey;
  display: flex;
  justify-content: space-between;
  padding: 15px 24px 13px;

  @include mobile {
    align-items: center;
    height: 60px;
    font-size: 16px;
    gap: 10px;
    padding: 15px 10px 13px;
  }
}

.title {
  font-weight: 400;
}

.close {
  cursor: pointer;
  font-weight: 600;
}