@use 'styles/style.scss' as *;

.destination {
  padding: 80px;
  background-color: $color-light-grey;

  @include mobile-tablet {
    padding: 7px;
  }
}

.destinationTitle {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: center;

  @include mobile-tablet {
    margin-top: 20px;
  }
}

.destinationSubTitle {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 24px;
  text-align: center;
  margin: 8px 0 48px;
}

.destinationWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.destinationItem {
  height: 250px;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  border-radius: 12px;
  display: flex;
  align-items: end;
  cursor: pointer;
  overflow: hidden;

  @include mobile {
    width: 100%;
  }
}
