@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Peloponnes.png') no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}

.patras {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.patrasLocation {
  position: absolute;
  top: 16%;
  right: 54%;
  border-radius: 24px;
  padding: 0 4px;
}

.kalogria {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kalogriaLocation {
  position: absolute;
  top: 25%;
  right: 61%;
  border-radius: 24px;
  padding: 4px;
}

.olympia {
  display: block;

  &::before {
    content: '';
    display: block;
    margin-left: auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.olympiaLocation {
  position: absolute;
  top: 40%;
  right: 65%;
  border-radius: 24px;
  padding: 4px;
}

.vithina {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.vithinaLocation {
  position: absolute;
  top: 38%;
  right: 50%;
  border-radius: 24px;
  padding: 4px;
}

.lechaio {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.lechaioLocation {
  position: absolute;
  top: 22%;
  right: 39%;
  border-radius: 24px;
  padding: 4px;
}

.korinth {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.korinthLocation {
  position: absolute;
  top: 26%;
  right: 33%;
  border-radius: 24px;
  padding: 4px;
}

.altepidaurus {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.altepidaurusLocation {
  position: absolute;
  top: 34%;
  right: 26%;
  border-radius: 24px;
  padding: 0 4px;
}

.nafplio {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.nafplioLocation {
  position: absolute;
  top: 40%;
  right: 37%;
  border-radius: 24px;
  padding: 0 4px;
}

.kalamata {
  display: block;

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kalamataLocation {
  position: absolute;
  top: 56%;
  right: 47%;
  border-radius: 24px;
  padding: 4px;
}

.sparta {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.spartaLocation {
  position: absolute;
  top: 60%;
  right: 45%;
  border-radius: 24px;
  padding: 0 4px;
}

.mystras {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.mystrasLocation {
  position: absolute;
  top: 63%;
  right: 43%;
  border-radius: 24px;
  padding: 0 4px;
}

.chranoi {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.chranoiLocation {
  position: absolute;
  top: 64%;
  right: 53%;
  border-radius: 24px;
  padding: 0 4px;
}

.itilo {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.itiloLocation {
  position: absolute;
  top: 75%;
  right: 42%;
  border-radius: 24px;
  padding: 0 4px;
}

.leonidio {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.leonidioLocation {
  position: absolute;
  top: 56%;
  right: 34%;
  border-radius: 24px;
  padding: 0 4px;
}

.mavrovouni {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.mavrovouniLocation {
  position: absolute;
  top: 71%;
  right: 37%;
  border-radius: 24px;
  padding: 0 4px;
}

.monemvassia {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.monemvassiaLocation {
  position: absolute;
  top: 74%;
  right: 26.5%;
  border-radius: 24px;
  padding: 0 4px;
}

.gythion {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.gythionLocation {
  position: absolute;
  top: 68%;
  right: 39%;
  border-radius: 24px;
  padding: 0 4px;
}

.areopolis {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.areopolisLocation {
  position: absolute;
  top: 74%;
  right: 49%;
  border-radius: 24px;
  padding: 0 4px;
}

.gerolimenas {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.gerolimenasLocation {
  position: absolute;
  top: 79%;
  right: 49%;
  border-radius: 24px;
  padding: 0 4px;
}

.methoni {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.methoniLocation {
  position: absolute;
  top: 69%;
  right: 62%;
  border-radius: 24px;
  padding: 0 4px;
}

.marathopolis {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.marathopolisLocation {
  position: absolute;
  top: 60%;
  right: 64%;
  border-radius: 24px;
  padding: 0 4px;
}

.gialova {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.gialovaLocation {
  position: absolute;
  top: 65%;
  right: 63%;
  border-radius: 24px;
  padding: 0 4px;
}

.elafonisos {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.elafonisosLocation {
  position: absolute;
  top: 81%;
  right: 31%;
  border-radius: 24px;
  padding: 4px;
}

.regionCardpatras,
.regionCardkalogria,
.regionCardlechaio,
.regionCardkorinth,
.regionCardnapflio,
.regionCardvitina,
.regionCardolympia {
  top: 20%;
  bottom: auto;
}

.regionCardaltepidaurus {
  top: 100%;
  bottom: auto;
  left: -250px;
}

.regionCardmonemvassia {
  left: -250px;
}