@use '../../../styles/style' as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 500px;
  height: 1068px;
  width: 1280px;
}

/*Sub */

.sub__gr1 {
  position: absolute;
  transition: all 0.2s ease-in;
  margin-right: 378px;
  margin-top: 294px;
  cursor: url('/public/assets/images/destinations/cursor.png'), auto;
}

.sub__gr1:hover {
  fill: #f5bb2c;
}

.sub__gr1:hover {
  stroke-opacity: 0;
}

.sub__gr1 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr1:hover ellipse {
  fill: #0abaee;
}

.sub__gr2 {
  position: absolute;
  margin-right: 256px;
  margin-top: 219px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr2:hover {
  fill: #2f6bb4;
}

.sub__gr2 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr2:hover ellipse {
  fill: #0abaee;
}

.sub__gr3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr3:hover {
  fill: #f5bc2e;
  z-index: 1;
}

.sub__gr3 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr3:hover ellipse {
  fill: #0abaee;
}

.sub__gr4 {
  position: absolute;
  margin-top: 348px;
  margin-left: 176px;
  transition: 0.2s all ease-in;
  transform: rotate(0.5deg);
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr4:hover {
  fill: #22aaa8;
}

.sub__gr4 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr4:hover ellipse {
  fill: #0abaee;
}

.sub__gr5 {
  position: absolute;
  margin-top: 500px;
  margin-right: 200px;
  transition: 0.2s all ease-in;
  z-index: 1;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr5:hover {
  fill: #907c72;
}

.sub__gr5 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr5:hover ellipse {
  fill: #0abaee;
}

.sub__gr6 {
  position: absolute;
  margin-top: 402px;
  margin-left: 100px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr6:hover {
  fill: #a2cf6c;
}

.sub__gr6 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr6:hover ellipse {
  fill: #0abaee;
}

.sub__gr7 {
  position: absolute;
  transition: 0.2s all ease-in;
  margin-left: 580px;
  margin-top: 160px;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr7:hover {
  fill: #907c72;
}

.sub__gr7 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr7:hover ellipse {
  fill: #0abaee;
}

.sub__gr8 {
  position: absolute;
  margin-top: 544px;
  margin-left: 400px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr8:hover {
  fill: #814d99;
}

.sub__gr8 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr8:hover ellipse {
  fill: #0abaee;
}

.sub__gr9 {
  position: absolute;
  margin-top: 870px;
  margin-left: 400px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr9:hover {
  fill: #be007d;
}

.sub__gr9 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr9:hover ellipse {
  fill: #0abaee;
}

.sub__gr10 {
  position: absolute;
  margin-top: 620px;
  margin-left: 900px;
  transition: 0.2s all ease-in;
  cursor: url(/public/assets/images/destinations/cursor.png), auto;
}

.sub__gr10:hover {
  fill: #aeacad;
}

.sub__gr10 ellipse {
  fill: #1b242d;
  transition: all 0.2s ease-in;
}

.sub__gr10:hover ellipse {
  fill: #0abaee;
}

.wrapper {
  position: relative;
}

.destination__cartShown_1 {
  left: 40%;
  bottom: 70%;
}

.destination__cartShown_2 {
  left: 60%;
  bottom: 80%;
}

.destination__cartShown_3 {
  left: 60%;
  top: 20%;
}

.destination__cartShown_4 {
}

.destination__cartShown_5 {
  left: 70%;
  bottom: 90%;
}

.destination__cartShown_6 {
}

.destination__cartShown_7 {
  left: 100%;
  bottom: 40%;
}

.destination__cartShown_8 {
  left: 60%;
}

.destination__cartShown_9 {
}

.destination__cartShown_10 {
  left: 70%;
  bottom: 50%;
}
