@use '../../../styles/style' as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 500px;
  height: 1068px;
  width: 1040px;
  margin-top: 45px;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.6);
    margin-right: 120px;
    height: 720px;
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3) translateY(-300px);
    margin-right: 120px;
    height: 400px;
  }
}

/*Sub */

.sub__gr22 {
  position: absolute;
  transition: all 0.2s ease-in;
  margin-right: 206px;
  margin-top: 248px;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr24 {
  position: absolute;
  margin-right: 102px;
  margin-top: 188px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr25 {
  position: absolute;
  margin-top: 20px;
  margin-left: 200px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr22 {
  position: absolute;
  margin-right: 206px;
  margin-top: 248px;
  transition: 0.2s all ease-in;
  z-index: 1;
  transform: rotate(0.5deg);
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr27 {
  position: absolute;
  margin-top: 424px;
  margin-right: 48px;
  transition: 0.2s all ease-in;
  z-index: 1;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr20 {
  position: absolute;
  margin-top: 336px;
  margin-left: 236px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr28 {
  position: absolute;
  margin-top: 300px;
  margin-left: 256px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr26 {
  position: absolute;
  transition: 0.2s all ease-in;
  margin-left: 614px;
  margin-top: 134px;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr23 {
  position: absolute;
  margin-top: 460px;
  margin-left: 470px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr21 {
  position: absolute;
  margin-top: 720px;
  margin-left: 400px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.sub__gr29 {
  position: absolute;

  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;
  top: 380px;
  right: 271px;
  z-index: 1;

  path {
    pointer-events: all;

    &:hover {
      fill: #52B55F;
    }
  }


  >svg {
    transform: scale(0.43);

  }


  [class*='RegionCard_cart_shown'] {
    bottom: 50% !important;
    left: 50% !important;
  }
}

.sub__gr19 {
  position: absolute;
  margin-top: 520px;
  margin-left: 980px;
  transition: 0.2s all ease-in;
  cursor: url('../../../../public/assets/images/destinations/cursor.png'), auto;
  pointer-events: none;

  path {
    pointer-events: all;
  }
}

.cartShown_20 {
  left: 40%;
  bottom: 70%;
}

.cartShown_22 {
  left: 80%;
  bottom: 85%;
}

.cartShown_28 {
  left: 60%;
  top: 20%;
}

.cartShown_24 {
  bottom: 50%;
  left: 80%;
}

.cartShown_21 {
  left: 80%;
  bottom: 85%;
}

.cartShown_25 {
  left: 60%;
  top: 20%;
}

.cartShown_27 {
  left: 70%;
  bottom: 90%;
}

.cartShown_26 {
  left: 90%;
  bottom: 40%;
}

.cartShown_23 {
  left: 60%;
  bottom: 80%;
}

.cartShown_19 {
  left: 40%;
  bottom: 70%;
}

.map20:hover {
  fill: $color-sub-r6;
}

.map28:hover {
  fill: $color-sub-r4;
}

.map25:hover {
  fill: $color-sub-r1;
  z-index: 1;
}

.map22:hover {
  fill: $color-sub-r1;
}

.map27:hover {
  fill: $color-sub-r5;
}

.map24:hover {
  fill: $color-sub-r2;
}

.map26:hover {
  fill: $color-sub-r6;
}

.map23:hover {
  fill: $color-blue;
}

.map21:hover {
  fill: $color-sub-r8;
}

.map19:hover {
  fill: $color-sub-r7;
}