@use 'styles/style' as *;

.wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(242, 245, 248, 1);
  font-family: $font-Lato;

  @include mobile {
    width: 100%;
    padding: 0 20px;
  }
}

.title {
  font-family: $font-Lato;
  font-weight: $fw-bold;
  font-size: 16px;
  padding-top: 80px;
  padding-bottom: 8px;
  text-align: center;
}

.subtitle {
  font-weight: $fw-regular;
  font-family: $font-Lato;
  font-size: 12px;
  padding-bottom: 64px;
  text-align: center;
}
.buttonNext {
  top: 170px !important;
  right: -100px;
}
.buttonPrev {
  top: 170px !important;
  left: -100px;
}
