@use 'styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.wrapper {
  color: $color-dark-blue;
  @include mobile-tablet {
    padding: 80px 20px !important;
  }
}

.title {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  text-align: left;
}

.description {
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 20px;
  text-align: left;
  margin-top: 8px;
  @include mobile {
    display: none;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 40px;

  @include mobile {
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  @include tablet {
    justify-content: center;
  }
}

.name {
  position: absolute;
  z-index: 1;
  bottom: 16px;
  left: 24px;
  font-size: 12px;
  font-weight: $fw-bold;
  line-height: 20px;
  text-align: left;
  color: $color-white;
}
