@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 720px;
  background: url('../../../../public/assets/images/destinations/Individual maps/Insel Kreta.png')
    no-repeat center;
  font-weight: $fw-semibold;
  margin-right: 300px;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.6);
    margin-right: 200px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.5);
    margin-right: 170px;
    margin-top: -250px;
  }
}
.agiamarina {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.agiamarinaLocation {
  position: absolute;
  top: 53%;
  right: 60%;
  border-radius: 24px;
  padding: 0 4px;
}

.kalamaki {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kalamakiLocation {
  position: absolute;
  top: 76%;
  right: 38%;
  border-radius: 24px;
  padding: 0 4px;
}

.katozakros {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.katozakrosLocation {
  position: absolute;
  top: 71%;
  right: -6%;
  border-radius: 24px;
  padding: 0 4px;
}

.falasarna {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.falasarnaLocation {
  position: absolute;
  top: 57%;
  right: 66.5%;
  border-radius: 24px;
  padding: 0 4px;
}

.paleochora {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.paleochoraLocation {
  position: absolute;
  top: 65%;
  right: 59%;
  border-radius: 24px;
  padding: 0 4px;
}

.georgioupolis {
  display: block;
  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.georgioupolisLocation {
  position: absolute;
  top: 60%;
  right: 53%;
  border-radius: 24px;
  padding: 0 4px;
}

.katostalos {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.katostalosLocation {
  position: absolute;
  top: 52%;
  right: 52%;
  border-radius: 24px;
  padding: 4px;
}

.apokoronas {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.apokoronasLocation {
  position: absolute;
  top: 55%;
  right: 45%;
  border-radius: 24px;
  padding: 4px;
}

.sfakaki {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sfakakiLocation {
  position: absolute;
  top: 57%;
  right: 37%;
  border-radius: 24px;
  padding: 4px;
}

.heraklion {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.heraklionLocation {
  position: absolute;
  top: 57%;
  right: 28%;
  border-radius: 24px;
  padding: 4px;
}

.archanes {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.archanesLocation {
  position: absolute;
  top: 62%;
  right: 28%;
  border-radius: 24px;
  padding: 4px;
}

.agiagalini {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.agiagaliniLocation {
  position: absolute;
  top: 69%;
  right: 34%;
  border-radius: 24px;
  padding: 4px;
}

.rounda {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.roundaLocation {
  position: absolute;
  top: 64%;
  right: 12%;
  border-radius: 24px;
  padding: 4px;
}

.makrigialosanalipsi {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.makrigialosanalipsiLocation {
  position: absolute;
  top: 72%;
  right: 3%;
  border-radius: 24px;
  padding: 4px;
}

.kouremenos {
  display: block;
  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kouremenosLocation {
  position: absolute;
  top: 65%;
  right: -5%;
  border-radius: 24px;
  padding: 4px;
}

.frangokastello {
  display: block;
  &::before {
    content: '';
    display: block;
    margin-left: auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.frangokastelloLocation {
  position: absolute;
  top: 68%;
  right: 53%;
  border-radius: 24px;
  padding: 4px;
}

.rodakino {
  display: block;
  &::before {
    content: '';
    display: block;
    margin-left: auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.rodakinoLocation {
  position: absolute;
  top: 68%;
  right: 46%;
  border-radius: 24px;
  padding: 4px;
}

.zaros {
  display: block;
  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.zarosLocation {
  position: absolute;
  top: 73%;
  right: 34%;
  border-radius: 24px;
  padding: 0 4px;
}

.chania {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.chaniaLocation {
  position: absolute;
  top: 56.5%;
  right: 54%;
  border-radius: 24px;
  padding: 0 4px;
}

.almyrida {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.almyridaLocation {
  position: absolute;
  top: 62.5%;
  right: 44%;
  border-radius: 24px;
  padding: 0 4px;
}

.kapetaniana {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kapetanianaLocation {
  position: absolute;
  top: 79%;
  right: 28%;
  border-radius: 24px;
  padding: 0 4px;
}

.anatoli {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.anatoliLocation {
  position: absolute;
  top: 77.5%;
  right: 20%;
  border-radius: 24px;
  padding: 0 4px;
}

.ferma {
  display: block;
  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.fermaLocation {
  position: absolute;
  top: 76%;
  right: 15%;
  border-radius: 24px;
  padding: 0 4px;
}

.rethymnon {
  display: block;
  &::after {
    content: '';
    margin-left: auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.rethymnonLocation {
  position: absolute;
  top: 59%;
  right: 44%;
  border-radius: 24px;
  padding: 0 4px;
}

.ierapetra {
  display: block;
  &::after {
    content: '';
    margin-left: auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.ierapetraLocation {
  position: absolute;
  top: 74%;
  right: 25%;

  border-radius: 24px;
  padding: 0 4px;
}

.sitia {
  display: block;
  &::after {
    content: '';
    margin-left: auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sitiaLocation {
  position: absolute;
  top: 65%;
  right: 8%;
  border-radius: 24px;
  padding: 0 4px;
}

.panormos {
  display: block;
  &::before {
    content: '';
    margin: 0 auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.panormosLocation {
  position: absolute;
  top: 61%;
  right: 36%;
  border-radius: 24px;
  padding: 0 4px;
}

.plakias {
  display: block;
  &::before {
    content: '';
    margin: 0 auto;
    display: block;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.plakiasLocation {
  position: absolute;
  top: 70%;
  right: 42%;
  border-radius: 24px;
  padding: 0 4px;
}

.regionCardanatoli {
  bottom: 100%;
  left: -250px;
}

.regionCardierapetra {
  bottom: 100%;
  left: -250px;
}

.regionCardarchanes {
  bottom: 100%;
  left: -250px;
}

.regionCardagiagalini {
  bottom: 100%;
  left: -250px;
}

.regionCardsitia {
  bottom: 100%;
  left: -250px;
}

.regionCardkatozakros {
  bottom: 100%;
  left: -250px;
}

.regionCardferma {
  bottom: 100%;
  left: -250px;
}
