@use 'styles/style' as *;
@import '/src/styles/theme/breakpoints.scss';

.facility {
  background-color: $color-modal-header;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include mobile {
    padding: 50px 20px;
  }
}

.facilityTitle {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 20px;
  margin-bottom: 8px;
}

.facilitySubTitle {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 20px;
  margin-bottom: 64px;
  padding: 0 20px;
}

.facilityWrap {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.facilityCard {
  background-color: $color-white;
  padding: 30px;
  display: flex;
  margin: 0 16px 16px 0;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;

  &:nth-child(5n + 4),
  &:nth-child(5n + 5) {
    width: 45.7%;

    @include mobile {
      width: 80%;
      flex-direction: column;
      align-items: center;
    }
  }
  @include mobile {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
}

.facilityCardTitle {
  margin-top: 8px;
  font-size: 20px;
}
