@use '/src/styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.wrapper {
  padding: 80px 80px 160px 80px;
  font-family: $font-Lato;
  background-image: url('/assets/images/aboutPage/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  @include mobile-tablet {
    padding: 20px;
  }
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;

  @include mobile-tablet {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.description {
  width: 65%;
  margin: 0 auto 80px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;

  @include mobile-tablet {
    width: 100%;
    margin-bottom: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noVacancies {
  margin: auto;
}
