@use '/src/styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.review {
  box-sizing: border-box;
  text-align: start;
  min-height: 240px;
  background: $color-light-grey;
  box-shadow: 0 18px 18px rgba(0, 60, 118, 0.05);
  border-radius: 16px;
  position: relative;
  overflow: scroll;
  padding: 40px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile-tablet {
    min-height: unset;
    padding: 25px;
    max-width: 100%;
  }
}

.name {
  font-size: 16px;
  font-weight: $fw-semibold;
  line-height: 20px;
  margin-bottom: 4px;
}

.tripName {
  font-size: 16px;
  font-weight: $fw-semibold;
  line-height: 20px;
  margin-bottom: 15px;
}

.comment {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  position: relative;
  z-index: 1;
}

.images {
  display: flex;
  padding: 10px;
  overflow-y: auto;

  @include mobile {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.image {
  border-radius: 6px;
  border: 3px solid $color-light-grey;
  margin-right: -5px;
  min-width: 97px;
  height: 97px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: $color-box-shadow;

  @include mobile {
    width: 49%;
  }
}

.icon {
  position: absolute;
  top: 40px;
  right: 40px;
}

.profile {
  position: relative;
  z-index: 1;
}
