@use '/src/styles/style.scss' as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
}

.tooltipContainer {
  display: flex;
  position: absolute;
  z-index: 10;
  transition-property: all;
  transition-duration: 150ms;
  align-items: center;
  width: max-content;
  pointer-events: none;
}

.pointer {
  position: absolute;
  z-index: 10;
  background-color: inherit;
  transform: rotate(45deg);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
}

// Container

.position-top {
  bottom: 100%;
  transform: translateY(-0.5rem);
  left: 50%;
}

.position-bottom {
  top: 100%;
  transform: translateY(0.5rem);
  left: 50%;
}

.position-right {
  top: 0;
  left: 100%;
  margin-left: 1rem;
}

.position-left {
  top: 0;
  right: 100%;
  margin-right: 1rem;
}

// Pointer

.position-top-pointer {
  top: 100%;
  transform: translateY(-0.5rem) rotate(45deg);
  left: 50%;
}

.position-bottom-pointer {
  bottom: 100%;
  transform: translateY(0.5rem) rotate(45deg);
  left: 50%;
}

.position-right-pointer {
  left: -6px;
}

.position-left-pointer {
  right: -6px;
}
