@use 'styles/style.scss' as *;
@import '/src/styles/theme/breakpoints.scss';

.wrapper {
  padding: 24px 85px 80px;
  color: $color-light-black;

  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 20px 30px 40px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid $color-about-tabs;

  @include mobile {
    flex-direction: column;
  }
}

.cardWrap {
  width: 49%;

  @include mobile {
    width: 100%;
  }
}

.destinationName {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
  display: flex;
}
.daysTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-right: 20px;
  color: $color-range;
  span {
    color: $color-range-bg;
  }
}
.description {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 25px;
  text-align: left;
  color: $color-range;
}

.image {
  width: 49%;
  height: 230px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: $color-modal-header;

  @include mobile {
    width: 100%;
  }
}

.button {
  margin-top: 25px;
}
