$container-width: 90%;
$duration: 0.15s;


$color-white: #fff;

$color-light-grey: #FAFBFC;
$color-grey-f358: #f3f5f8;
$color-grey-ed: #ededed;
$color-grey-e78c: #e7e8ec;
$color-grey-de: #dedede;
$color-grey-da: #dadada;
$color-grey-d0: #d0d0d0;
$color-grey-c: #ccc;
$color-grey-4f: #4f4f4f;
$color-grey-2ecf: #2e2c2f;
$color-grey-1b: #1b1b1b;
$color-grey-09c2: #090c02;
$color-shadow: #003C7626;

$color-french-grey: #c5c7cd;
$color-french-grey-a30: #c5c7cd4d;
$color-santas-grey: #979dac;

$color-sand: #ffdf8c;
$gray-line: #f6f6f6; // TODO fix names
$orange: #fe5f1e;
$color-light-green: #E2EDCF;
$color-purple: #DED5EA;
$color-dark-red: #A0151A;
$color-brown: #4F3E34;
$color-blue: #2C216F;

$color-black: #000;
$color-layout-blue: rgba(0, 60, 118, 0.75);
$color-layout-dark-blue: rgba(0, 60, 118, 1);
$color-modal-bg: #C4C4C4;
$color-modal-header: #F2F5F8;

$color-red: #ef2b23;
$color-orange: #f66e08;
$color-pastel-green: #6fd454;
$color-picton-blue: #29baf0;
$color-blue: #00B7EB;
$color-butterfly-blue: #2aabee;
$color-metallic-seaweed: #028090;
$color-midnight-blue: #002366;

