@use 'styles/style.scss' as *;

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 846px;
  height: 456px;

  @include tablet {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  @include mobile {
    width: 100%;
    padding: 20px;
    justify-content: left;
    height: auto;
    overflow-x: auto;
  }
}

.content {
  display: flex;

  @include mobile {
    display: block;
    width: 100%;
  }
}

.card {
  height: 288px;
  width: 240px;
  border-radius: 16px;
}

.form {
  width: 404px;
  margin-left: 32px;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.title {
  padding: 8px;
  font-size: 16px;
  font-weight: $fw-semibold;
  margin-bottom: 16px;
}

.input {
  height: 63px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;

  [class*='icon'] {
    right: 18px;
  }

  input::placeholder {
    color: $color-primary-black;
  }

  >* {
    padding-left: 0;
  }

  @media screen and (max-width: 850px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.radio {
  display: flex;
  align-items: center;
  padding: 5px 8px 20px;

  @media (max-width: 400px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 0 10px 10px;
  }
}

.radioButtons {
  @media (max-width: 400px) {
    display: block;

    label {
      display: block;
      margin-top: 10px;

      span {
        margin-left: 0;
      }
    }
  }
}

.radioLabel {
  font-family: $font-Century-Gothic;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-placeholder;
  margin-right: 25px;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin-bottom: 20px;

  @include mobile {
    position: static;
  }
}

.icon {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 800;
}

.downloadBtn {
  width: 190px;
  margin-left: 20px;

  @media (max-width: 366px) {
    margin-left: 10px;
    width: 180px;
    padding: 10px;
  }
}

.downloadText {
  margin-left: 11px;
}