@use 'styles/style.scss' as *;
.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 846px;
  height: 456px;
}
.content {
  display: flex;
}
.card {
  height: 288px;
  width: 240px;
  border-radius: 16px;
}
.form {
  width: 404px;
  margin-left: 32px;
  position: relative;
}
.title {
  padding: 8px;
  font-size: 14px;
  font-weight: $fw-semibold;
  margin-bottom: 16px;
}
.input {
  height: 63px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;

  [class*='icon'] {
    right: 18px;
  }

  input::placeholder {
    color: $color-primary-black;
  }

  > * {
    padding-left: 0;
  }

  @media screen and (max-width: 850px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.radio {
  display: flex;
  align-items: center;
  padding: 5px 8px 20px;
}
.radioLabel {
  font-family: $font-Lato;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-placeholder;
  margin-right: 25px;
}
.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin-bottom: 20px;
}
.icon {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 800;
}
.downloadBtn {
  width: 190px;
}
.downloadText {
  margin-left: 11px;
}
