@use 'styles/style.scss' as *;

.card {
  min-height: 344px;
  width: 212px;
  position: relative;
  border-radius: 8px;
  padding-bottom: 16px;
  background-color: $color-light-grey;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.current {
  background-color: $color-laros-light-grey;
}

.selected {
  background-color: $color-white;
  border: 1px solid $color-light-green;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 19px 0;
  flex-grow: 1;
}

.name {
  font-size: 14px;
  font-weight: $fw-semibold;
  line-height: 20px;
  margin-bottom: 8px;
}

.price,
.changePrice {
  font-size: 12px;
  font-weight: $fw-medium;
  line-height: 20px;
  color: $color-checkbox-gray;
  margin-bottom: 8px;
}

.changePrice {
  font-size: 10px;
}

.description {
  font-size: 12px;
  font-weight: $fw-regular;
  line-height: 20px;
  margin-bottom: 10px;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 4px 28px;
  border: 1px solid $color-light-green;
  border-radius: 40px;
  font-size: 12px;
  font-weight: $fw-medium;
  line-height: 20px;
  color: $color-light-green;
}

.placeholder {
  background-color: $color-card-placeholder;
  height: 144px;
  width: 210px;
  border-radius: 8px 8px 0 0;
}

.currentBtn {
  background-color: $color-laros-light-grey;
  border: 1px solid $color-checkbox-gray;
  color: $color-checkbox-gray;
}

.selectedBtn {
  border: 1px solid $color-light-green;
  background-color: $color-light-green;
  color: $color-white;
}
