@use '../../../styles/style' as *;

.container {
  position: relative;
  width: 1040px;
  height: 680px;
  background: url('../../../../public/assets/images/destinations/Macedonia/Macedonia.png') no-repeat center;
  font-weight: $fw-semibold;
}

.wrapper {
  cursor: pointer;
  position: absolute;
  width: max-content;
}

.title {
  display: none;
  font-size: 12px;
}

@media screen and (max-width: 1350px) {
  .container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 425px) {
  .container {
    transform: scale(0.3);
    height: 400px;
  }
}

.lake {
  position: absolute;
  background-image: url('../../../../public/assets/images/destinations/lake.svg');
  top: 35%;
  right: 53%;
  background-size: 100% 100%;
  height: 12px;
  width: 30px;

  >div {
    width: 100px;
    position: absolute;
    top: -25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #F5BC2E;
    text-shadow: 0px 0px 10px #FFffff;
  }
}

.mountain {
  position: absolute;
  top: 40%;
  right: 82%;
  background-image: url('../../../../public/assets/images/destinations/mountain.svg');
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
}

.olymposMountain {
  position: absolute;
  top: 52%;
  right: 66%;
  background-image: url('../../../../public/assets/images/destinations/mountain.svg');
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #F5BC2E;

  >span {
    position: absolute;
    top: 25px;
    left: -19px;
  }
}

.nestosMountain {
  position: absolute;
  top: 19%;
  right: 40%;
  background-image: url('../../../../public/assets/images/destinations/mountain.svg');
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #F5BC2E;

  >span {
    position: absolute;
    top: 25px;
    left: -45px;
    width: 200px;
  }
}

.prespes {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #F5BC2E;

  &::after {
    content: '';
    display: block;
    margin: 2px auto;
    background: url('../../../../public/assets/images/destinations/lake.svg') no-repeat center;
    height: 16px;
  }
}

.prespesLocation {
  position: absolute;
  top: 33%;
  right: 78%;
  border-radius: 24px;
  padding: 4px;
}

.nestosschucht {
  display: block;

  &::after {
    content: '';
    display: block;
    margin: 2px auto;
    background: url('../../../../public/assets/images/destinations/mountain.svg') no-repeat center;
    height: 16px;
  }
}

.nestosschuchtLocation {
  position: absolute;
  top: 21%;
  right: 38%;
  border-radius: 24px;
  padding: 4px;
}

.chalkidiki {
  display: block;

  &::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.chalkidikiLocation {
  position: absolute;
  top: 48%;
  right: 46%;
  border-radius: 24px;
  padding: 4px;
}

.alexandroupolis {
  display: block;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin-left: 16px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.alexandroupolisLocation {
  position: absolute;
  top: 34%;
  right: 8%;
  border-radius: 24px;
  padding: 4px;
}

.vergina {
  display: block;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.verginaLocation {
  position: absolute;
  top: 51%;
  right: 74%;
  border-radius: 24px;
  padding: 4px;
}

.sirderochori {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sirderochoriLocation {
  position: absolute;
  top: 45%;
  right: 71%;
  border-radius: 24px;
  padding: 0 4px;
}

.kastoria {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kastoriaLocation {
  position: absolute;
  top: 48%;
  right: 75%;
  border-radius: 24px;
  padding: 0 4px;
}

.sirerochori {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.sirerochoriLocation {
  position: absolute;
  top: 48%;
  right: 72%;
  border-radius: 24px;
  padding: 0 4px;
}

.nimfeo {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.nimfeoLocation {
  position: absolute;
  top: 42%;
  right: 69%;
  border-radius: 24px;
  padding: 0 4px;
}

.edessa {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.edessaLocation {
  position: absolute;
  top: 39%;
  right: 63%;
  border-radius: 24px;
  padding: 0 4px;
}

.florina {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.florinaLocation {
  position: absolute;
  top: 39%;
  right: 72%;
  border-radius: 24px;
  padding: 0 4px;
}

.litochoro {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.litochoroLocation {
  position: absolute;
  top: 80%;
  right: 63%;
  border-radius: 24px;
  padding: 0 4px;
}

.loutraki {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.loutrakiLocation {
  position: absolute;
  top: 31%;
  right: 67%;
  border-radius: 24px;
  padding: 0 4px;
}

.litochoro {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.litochoroLocation {
  position: absolute;
  top: 54%;
  right: 56%;
  border-radius: 24px;
  padding: 0 4px;
}

.name {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.nameLocation {
  position: absolute;
  top: 36%;
  right: 61%;
  border-radius: 24px;
  padding: 0 4px;
}

.stavroupolis {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.stavroupolisLocation {
  position: absolute;
  top: 23%;
  right: 27%;
  border-radius: 24px;
  padding: 0 4px;
}

.thessaloniki {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.thessalonikiLocation {
  position: absolute;
  top: 40%;
  right: 49%;
  border-radius: 24px;
  padding: 0 4px;
}

.chalkidki {
  display: block;

  &::after {
    content: '';
    display: block;
    margin: 2px auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.chalkidkiLocation {
  position: absolute;
  top: 46%;
  right: 45%;
  border-radius: 24px;
  padding: 4px;
}

.stavroupoli {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.stavroupoliLocation {
  position: absolute;
  top: 54%;
  right: 38%;
  border-radius: 24px;
  padding: 4px;
}

.pindos {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #F5BC2E;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    background: url('../../../../public/assets/images/destinations/mountain.svg') no-repeat center;
    height: 24px;
  }
}

.pindosLocation {
  position: absolute;
  top: 55%;
  right: 79%;
  border-radius: 24px;
  padding: 4px;
}

.olympos {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    background: url('../../../../public/assets/images/destinations/mountain.svg') no-repeat center;
    height: 24px;
  }
}

.olymposLocation {
  position: absolute;
  top: 51%;
  right: 65%;
  border-radius: 24px;
  padding: 4px;
}

.afytos {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.afytosLocation {
  position: absolute;
  top: 54%;
  right: 49%;
  border-radius: 24px;
  padding: 4px;
}

.bergathos {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.bergathosLocation {
  position: absolute;
  top: 50%;
  right: 32%;
  border-radius: 24px;
  padding: 0 4px;
}

.kerkini {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kerkiniLocation {
  position: absolute;
  top: 28%;
  right: 51%;
  border-radius: 24px;
  padding: 0 4px;
}

.kavala {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.kavalaLocation {
  position: absolute;
  top: 32%;
  right: 32%;
  border-radius: 24px;
  padding: 0 4px;
}

.komotini {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.komotiniLocation {
  position: absolute;
  top: 28%;
  right: 16%;
  border-radius: 24px;
  padding: 0 4px;
}

.maronia {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.maroniaLocation {
  position: absolute;
  top: 31%;
  right: 15%;
  border-radius: 24px;
  padding: 0 4px;
}

.xanthi {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.xanthiLocation {
  position: absolute;
  top: 27%;
  right: 28%;
  border-radius: 24px;
  padding: 4px;
}

.dadia {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.dadiaLocation {
  position: absolute;
  top: 28%;
  right: 9%;
  border-radius: 24px;
  padding: 4px;
}

.alexandropolis {
  display: block;

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 4px;
    height: 4px;
    background: $color-white-blue;
    border-radius: 50%;
  }
}

.alexandropolisLocation {
  position: absolute;
  top: 36%;
  right: 12%;
  border-radius: 24px;
  padding: 4px;
}

.regionCardkerkini {
  top: 20%;
}

.regionCardloutraki {
  top: 20%;
}

.regionCardxanthi {
  top: 20%;
}

.regionCardkomotini {
  top: 20%;
}

.regionCarddadia {
  top: 100%;
  left: -250px;
}

.regionCardxanthi {
  top: 100%;
  left: -250px;
}

.regionCardkavala {
  top: 100%;
  left: -250px;
}

.regionCardstavroupolis {
  top: 100%;
  left: -250px;
}

.regionCardalexandroupolis {
  top: 100%;
  left: -250px;
}

.regionCardkavala {
  top: 20%;
}

.regionCardkomotini {
  top: 100%;
  left: -250px;
}

.regionCardmaronia {
  top: 100%;
  left: -250px;
}