@use 'styles/style.scss' as *;

.modal {
  padding: 32px 62px 25px;
  width: 100%;

  @include mobile {
    padding: 20px;
  }
}

.head {
  width: 100%;
  padding-bottom: 40px;
  text-align: left;
}

.title {
  font-size: 16px;
  font-weight: $fw-bold;
  line-height: 20px;
  margin-bottom: 8px;
}

.rooms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.roomCard {
  margin: 0 24px 24px 0;
}

.actions {
  width: 100%;
  border-top: 1px solid $color-modal-bg;
  display: flex;
  padding: 24px 0 24px 85px;

  @include mobile {
    padding: 0;
    display: block;

    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
