@use 'styles/style' as *;

.tagCard {
  font-weight: $fw-regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  color: $color-white;
  padding: 4px 8px;
  background: $color-blue-label;
  border-radius: 16px;
}