.slider {
  text-align: center;
  padding: 80px 0;

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}
