@use 'styles/style' as *;

.hotelIntro {
  background-color: $color-light-grey;
  margin: 80px;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 4px 12px 0 rgba(0, 60, 118, 0.05);
  position: relative;
  z-index: 2;

  @include mobile-tablet {
    flex-direction: column;
    margin: 0;
    padding: 0 10px;
    border-radius: 0;
  }
}

.left {
  width: 65%;
  padding: 56px;

  @include mobile-tablet {
    width: 100%;
    padding: 10px;
  }
}

.right {
  width: 40%;
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    margin-top: 40px;
  }
  img {
    border-radius: 0 16px 0 0;
  }
}

.rating {
  span {
    margin-right: 10px;

    @include mobile {
      margin-right: 0;
    }
  }
}

.address {
  font-size: 16px;
  font-weight: $fw-regular;
  line-height: 19px;
  color: $color-laros-dark-grey;
  margin: 17px 0 8px;
}
.forms {
  margin-top: 16px;
}
.name {
  font-size: 48px;
  font-weight: $fw-bold;
  line-height: 58px;
  color: $color-bg-black;
  margin-bottom: 16px;

  @include laptop {
    font-size: 35px;
  }
  @include mobile-tablet {
    font-size: 25px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 25px;
  }
}

.map {
  width: 100%;
  height: 425px;
  border-radius: 0 16px 0 0;
  overflow: hidden;
  background-color: $color-laros-light-grey;

  @include mobile-tablet {
    border-radius: 0;
  }
}

.tagsTitle {
  margin: 28px 0 12px 15px;
  font-size: 20px;
}

.tagsPanel {
  padding: 0 16px 30px;
}

.modalWrap {
  [class*='modalContent'] {
    max-width: 1300px;
    margin: 0 20px;
    @include mobile-tablet {
      margin: 0;
    }
  }
}
.modal {
  // todo this styles are duplicated
  padding: 20px 30px 20px 20px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
