@use 'styles/style.scss' as *;

.pageNotFound {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 707px;
  box-shadow: 0px 4px 12px rgba($color-dark-blue, 0.15);
  border-radius: 16px;

  @include mobile {
    margin: 50px auto;
    height: auto;
    padding: 20px 10px 50px 10px;
  }

  .backText {
    font-size: 244px;
    line-height: 292px;
    color: $color-about-tabs;
    font-weight: $fw-bold;

    @include mobile {
      font-size: 150px;
    }
  }

  .title {
    font-weight: $fw-bold;
    font-size: 32px;
    line-height: 38px;
    color: $color-dark-blue;
    margin-bottom: 24px;

    @include mobile {
      font-size: 30px;
    }
  }

  .description {
    font-size: 12px;
    font-weight: $fw-regular;
    line-height: 20px;
    max-width: 450px;
    text-align: center;
    margin-bottom: 32px;
    color: $color-dark-blue;
  }

  .button {
    width: 178px;
    height: 40px;
    font-size: 16px;
    line-height: 17px;
    font-weight: $fw-regular;
    color: $color-light-grey;
  }
}